.weather {
  background-color: blue;
  height: 100dvh;
}
.container {
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container img {
  width: 50%;
}
.search-bar {
  width: 90%;
  padding: 10px;
  outline: none;
  border: 0px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.get-location {
  width: 80%;
}
.date {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
}
p {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 440px) {
  .search-bar {
    margin-top: 30px;
    width: 100%;
  }
  .get-location {
    width: 90%;
  }
}
@media screen and (max-width: 884px) {
  .container{
        max-width: 600px
    }
  .search-bar {
    margin-top: 30px;
    width: 100%;
  }
  .get-location {
    width: 90%;
  }
}
